ARXML_Editor_Windows_Build_Package/schemas/autosar_4-6-0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://autosar.org/schema/r4.0"
           xmlns:ar="http://autosar.org/schema/r4.0"
           elementFormDefault="qualified">
  
  <!-- Root AUTOSAR element for version 4.6.0 -->
  <xs:element name="AUTOSAR">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AR-PACKAGES" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="AR-PACKAGE" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="SHORT-NAME" type="xs:string"/>
                    <xs:element name="ELEMENTS" minOccurs="0">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                          <!-- Application Software Component Type -->
                          <xs:element name="APPLICATION-SW-COMPONENT-TYPE">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="SHORT-NAME" type="xs:string"/>
                                <xs:element name="DESC" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="L-2" minOccurs="0">
                                        <xs:complexType>
                                          <xs:simpleContent>
                                            <xs:extension base="xs:string">
                                              <xs:attribute name="L" type="xs:string" use="required"/>
                                            </xs:extension>
                                          </xs:simpleContent>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                                <xs:element name="PORTS" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="P-PORT-PROTOTYPE" maxOccurs="unbounded">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="SHORT-NAME" type="xs:string"/>
                                            <xs:element name="DESC" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="L-2" minOccurs="0">
                                                    <xs:complexType>
                                                      <xs:simpleContent>
                                                        <xs:extension base="xs:string">
                                                          <xs:attribute name="L" type="xs:string" use="required"/>
                                                        </xs:extension>
                                                      </xs:simpleContent>
                                                    </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                            <xs:element name="PROVIDED-INTERFACE-TREF" minOccurs="0">
                                              <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                    <xs:attribute name="DEST" type="xs:string" use="required"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>